body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}


::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #395b64;
  border-radius: 2px;
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #78909c;
  border-radius: 2px;
  width: 5px;
}

.message-container {
  width: 100%;
  height: calc(100% - 220px);
  overflow-y: scroll;
  overflow-x: hidden;
}